body,h1,p{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}

html,
body
{
  height: 100%;
}

header{
   background-image: url("./Assets/headerBgImg.jpg") ;
   background-repeat: no-repeat;
   background-size: cover;
   height: 30rem;
}

.profileImage{
    padding: 2rem;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    object-position: 100% 100%;
    border-radius: 50%;
}

.profileName{
    margin-left: 4rem;
    font-size: 3rem;   
}

.homePage{
    margin: 0;
    height: calc(100% - 30rem - 14rem);
    background-color:blanchedalmond;
}
.homeNavs{
    max-width: 1200px;
    margin: auto;
}
.homeNavs ul {
     margin: auto;
    /* padding-left: 10rem; */
    padding-top: 4rem;
}

.homeNavs  li{
    display: inline-block;
    list-style-type: none ;
    margin: 1rem;
    padding: 0;
}

.homeNavs a {
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.8rem;
    border: 1px solid blue;
    border-radius: 0.5rem;
    padding: 0.4rem ; 
}
.homeNavs a:hover {
    background-color: white;
}

footer{
    height: 14rem;
    margin: 0;
    background-color:darkgray
}
.footerContent{
    text-align: center;
    padding-top: 2rem;
    font-size: 1.7rem;
}


.aboutMePage{
    margin: 0;
    padding: 3rem;
    background-color:blanchedalmond;
}

.aboutMePage h1{
    color: brown;
    padding-bottom: 2rem;
    font-size: 2.5rem;
}

.aboutMePage span.miu{
    color: red;
}

.description{
    margin: 2rem;
    margin-left: 0;
}

.description p{
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    font-style: italic;
}

button a{
    text-decoration: none;
    color: darkgoldenrod;
    background-color: azure;
    cursor: pointer;
}

button {
    font-size: 3rem;
    border-radius: 1rem;    
}
button a:hover{
    font-size: 3.1rem;

}

.listOfClasses{
    margin: 2rem;
    margin-left: 0;
}

.listOfClasses ul{
    margin: 0;
    padding-left: 10rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.listOfClasses li{
    padding: 1rem;
    font-size: 2rem;
}

.favs{
    margin: 2rem;
    margin-left: 0;
}
.favs ol{
    margin: 0;
    padding-left: 10rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-size: 2rem;
}
.favs li{
    padding: 1rem;
}
.favs li a{
    text-decoration: none;
    
}

.favs li a:hover{
    color: red;
    text-decoration: underline;
}



.myMood{
    margin: 2rem;
    margin-left: 0;
    padding-bottom: 4rem;
}
.moodImg{
    width: 20rem;
    height: 20rem;
}

.myMood span{
    font-size: 2rem;
    margin: 4rem;
}

.myNeighbor{
    margin: 2rem;
    margin-left: 0;
}

.myNeighbor p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    padding-left: 5rem;
    padding-bottom: 5rem;
}

.aboutMePage p::first-letter{
    font-size: 1.5em;
}

.favs ol{
        transform: rotate(180deg);
        margin: 0;
    padding-right: 10rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.favs ol > li {
    transform: rotate(-180deg);
    padding: 1rem;
    
}